body {
    padding: 0;
    margin: 0;
}

.input_Enregistrer {
    background-color: darkcyan;
    color: white;
    border: transparent;
    width: 21%;
    font-size: 18px;
    padding: 10px;
    text-decoration: none;
}

input {
    width: 20%;
    padding: 5px;
    text-align: center;
}
label {
    width: 20%;
    padding: 5px;
    padding-right: 120px;
}

#redirection {
    text-decoration: none;
    color: darkblue;
}

#boxMessages{
    margin: 50px auto;
    padding: 5px 5px 5px 5px;
    border: 2px solid black;
    width: 80%;
    height: 70%;
    border-radius: 5px;
    background-color: white;
}

#affichageMessages{
    display:block;
    align-content: center;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0px 10px 0px 10px;
    padding: 5px 5px 5px 5px;
    height: 200px;
    overflow : auto;
}

#formulaire_message{
    text-align: center;
    padding: 5px 5px 5px 5px;
}

td{
    border-bottom:1px dashed lightgray;
}

td:last-child {
    text-align: right;
    width: 165px;
}

tr:last-child{
    border-bottom:none;
}

#champ_message{
    width: 80%;
    margin-bottom: 5px;
}