body {
    padding: 0;
    margin: 0;
}

table {
    border-collapse:collapse;
    width:70%;
    margin-left: 15%;
}
th, td {
    border:1px solid black;
    width:20%;
    background-color: #e0e0e0;
}
td {
    text-align:center;
}
caption {
    font-weight:bold
}
th {
    background-color: #d4d3d3;
}

.input_Enregistrer {
    background-color: darkcyan;
    color: white;
    border: transparent;
    width: 21%;
    font-size: 18px;
    padding: 10px;
    text-decoration: none;
}

input {
    width: 20%;
    padding: 5px;
    text-align: center;
}
label {
    width: 20%;
    padding: 5px;
    padding-right: 120px;
}