body {
    padding: 0;
    margin: 0;
}

.input_Enregistrer {
    background-color: darkcyan;
    color: white;
    border: transparent;
    width: 21%;
    font-size: 18px;
    padding: 10px;
    text-decoration: none;
}

input {
    width: 20%;
    padding: 5px;
    text-align: center;
}
label {
    width: 20%;
    padding: 5px;
    padding-right: 120px;
}

#redirection {
    text-decoration: none;
    color: darkblue;
}

