#Bande {
    background-color: #efefef;
    border-color: #dfdfdf;
    overflow: hidden;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

#Bande2 {
    background-color: #313131;
    border-color: #dfdfdf;
    overflow: hidden;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

#Logo {
    margin-left: 30px;
    margin-right: 20px;
    float: left;
    height: 40px;
    width: 60px;
}

#liste {
    display:block;
    padding:0;
    margin:0;
    list-style-type:none;
    padding-top: 10px;
}

.elementList {
    width: 12.5%;
    float: left;
    font-size: 25px;
    color: grey;
    text-decoration:none;
    text-align: center;
    line-height: 25px;
    border-radius: 10px 100px / 120px;
}

/*
REND L'INTERFACE RESPONSIVE (S'ADAPTE ET MODIFIE EN FONCTION DE LA TAILLE ECRAN)
 */
@media screen and (max-width: 880px) {
    .elementList {
        float: none;
        font-size: 25px;
        display: block;
        text-align: left;
        border-radius: 0;
    }

    .elementList:hover {
        background-color: #D3D3D3;
        border-color: #696969 #696969;
        padding-left: 5px;
    }
}

#Bande .elementList:hover {
    background-color: #D3D3D3;
    border-color: #696969 #696969;
}

#Bande2 .elementList:hover {
    background-color: lightgray;
    border-color: #696969 #696969;
}

#footerNA {
    width: 100%;
    font-size: .9em;
    display: inline-flex;
    padding-top: 10px;
    padding-bottom: 10px;
    bottom: 0;
    background-color: #cdcbcb;
}
#footer {
    width: 100%;
    font-size: .9em;
    background-color: #cdcbcb;
    display: inline-flex;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    bottom: 0;
}

#div_propriete_footer{
    text-align: center;
    display: inline;
    width: 100%;
    margin: 5px;
}

#div_reseaux_sociaux_footer{
    display: inline;
    min-width: 160px;
    margin: 5px;
}

#footer2 {
    width: 100%;
    bottom: 0;
    column-span: all;
    clear: both;
    font-size: .9em;
    color: grey;
    background-color: #313131;
    padding: 1.11em;
    text-align: center;
}

#footer_connexion {
    width: 100%;
    position:absolute;
    bottom:0;
    column-span: all;
    clear: both;
    font-size: .9em;
    color: #2b2b2b;
    background-color: #cdcbcb;
    padding: 1.11em;
    text-align: center;
}

.logo_reseaux_sociaux{
    text-decoration: none;
}

#logo_deconnexion{
    width: 20px;
    height: 20px;
    float: right;
    padding: 5px;
}

/*
UNIQUEMENT POUR LE HEADER NORMAL (PAS LE NOIR)
 */
#Bande #logo_deconnexion:hover{
    background-color: lightgray;
}

/*
UNIQUEMENT POUR LE HEADER NOIR
 */
#Bande2 #logo_deconnexion:hover{
    background-color: gray;
}

#user_menu{
    float: right;
    display: inline;
    text-align: center;
    text-transform: uppercase;
    color: gray;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
    margin-left: 10px;
}