#Bande {
    background-color: #efefef;
    border-color: #dfdfdf;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 60px;
}

#Logo {
    margin-left: 30px;
    padding-top: 1px;
    margin-right: 50px;
    float: left;
}

ul {
    padding:0;
    margin:0;
    list-style-type:none;
    float: center;
    text-align: center;
}

li {
    margin-left:3px;
    float: left;
}

ul li a {
    display:block;
    float: center;
    background-color:#efefef;
    color:black;
    text-decoration:none;
    text-align:center;
    padding: 5px;
    margin-right: 90px;
    border-color:#DCDCDC   #DCDCDC;
    color: grey;
}

ul li a:hover {
    background-color: #D3D3D3;
    border-color: #696969 #696969;
    padding-bottom: 9%;
}
