body {
    padding: 0;
    margin: 0;
}

.rating {
    direction: rtl;
    float: left;
}
.rating a {
    color: #aaa;
    text-decoration: none;
    font-size: 3em;
    transition: color .4s;
}
.rating a:hover,
.rating a:focus,
.rating a:hover ~ a,
.rating a:focus ~ a {
    color: orange;
    cursor: pointer;
}

.tableau{
    padding-right: 100px;
}
table {
    border-collapse:collapse;
    width:70%;
    margin-left: 15%;
}
th, td {
    border:1px solid black;
    width:20%;
    background-color: lightblue;
    text-align:center
}
td {
    text-align:center;
}
caption {
    font-weight:bold
}
th {
    background-color: darkblue;
    text-align:center;
    color:white;
}
legend {
    font-size: large;
    font-weight: bold;
    color: darkblue;
}

fieldset {
    border: 1px dashed gray;
    padding: 10px;
    margin: 10px 0;
    border-radius: 15px;
}